<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tmj.myadapter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ListView_1"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListView_8" />
        <activity android:name=".ListView_2" />
        <activity android:name=".ListView_3" />
        <activity android:name=".ListView_4" />
        <activity android:name=".ListView_5" />
        <activity android:name=".ListView_6" />
        <activity android:name=".ListView_7" />
        <!-- <activity android:name=".ListView_8" />-->
    </application>

</manifest>
